
*{
  background-color: #200938;
}

.pacman-page{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

h1, h2 {
  color: lightgray;
}

#pacman-board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1190px;
}

#pacman {
  width: 35px;
  height: 35px;
  background-image: url("pacmanTest2.gif");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.ghost {
  width: 35px;
  height: 35px;
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.blinky {
  background-image: url("blinky.svg");
}

.pinky {
  background-image: url("pinky.svg");
}

.inky {
  background-image: url("inky.svg");
}

.clyde {
  background-image: url("clyde.svg");
}

.wall {
  width: 35px;
  height: 35px;
  background-image: url("tile.png");
  background-size: cover;
  /* filter: hue-rotate(150deg) brightness(1.25); */
}

.coin {
  width: 35px;
  height: 35px;
  background-image: url("coin.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.pellet {
  width: 35px;
  height: 35px;
  background-image: url("coin.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(3px 3px 4px blue) invert(30%);
}

.ground {
  width: 35px;
  height: 35px;
  background-color: #200938;
}

.portalFirst {
  width: 35px;
  height: 35px;
  background-image: url("portalFirst.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: hue-rotate(300deg); */
}

.portalSecond {
  width: 35px;
  height: 35px;
  background-image: url("portalSecond.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: hue-rotate(30deg); */
}

.game-over {
  color: lightgray;
  font-size: 200px;
  position: absolute;
  z-index: 1;
  margin: auto;
  align-self: center;
  margin-right: 800px;
  padding-left: 200px;
  padding-right: 200px;
}

@keyframes example {
    0%   {left:0px;}
    100%  {left:200px;}
}
